{% extends 'allstyle.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加管理员
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search for..." value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                管理员列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>管理员ID</th>
                    <th>管理员姓名</th>
                    <th>管理员密码</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.Ad_id }}</th>
                        <td>{{ obj.Ad_name }}</td>
                        <td>{{ obj.Ad_password }}</td>

                        <td>
                            <a href="/admin/delete/?nid={{ obj.Ad_id }}" class="btn btn-danger btn-xs">删除</a>
                            <a href="/admin/edit/?nid={{ obj.Ad_id }}" class="btn btn-primary btn-xs">编辑</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>

{% endblock %}