{% extends 'allstyle.html' %}
{% block content %}

    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">修改信息</h3>
                </div>

                <div class="panel-body">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>关键字</label>
                            <input type="text" class="form-control" name="key_words"
                                   value="{{ data_obj1.key_words }}">
                        </div>
                        <div class="form-group">
                            <label>回复文字</label>
                            <input type="text" class="form-control" name="reply" placeholder="回复文字"
                                   value="{{ data_obj1.reply }}">
                        </div>
                        <div class="form-group">
                            <label>上传图片</label>
                            <input type="file" class="form-control" name="image" placeholder="上传图片"
                                   value="{{ MEDIA_URL }}{{data_obj1.image }}">
                        </div>
                        <div class="form-group">
                            <label>超链接</label>
                            <input type="text" class="form-control" name="url" placeholder="超链接"
                                   value="{{ data_obj1.url }}">
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}