<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
<div style="margin: 15% 40%;">
      {% if dict_info %}
          <div>{{ dict_info }}</div>
      {% endif %}
       <form  method="post" >
           {% csrf_token %}
           <h1 style="text-align: center;color: rosybrown;">重置密码</h1>
            <p style="color: black">
            <label for="">账 号:</label>
            {{ pwdReset_form.phoneNum }}
            </p>
            <p style="color: black">
            <label for="">密码:</label>
            {{ pwdReset_form.password1 }}
            </p>
             <p style="color: black">
            <label for="">再输入一次密码:</label>
            {{ pwdReset_form.password2 }}
            </p>
           <input type="submit" value="确定">
        </form>
    </div>
</body>
</html>
